<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3d_left_hand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,369},{48,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,76}}</string>
                <key>sourceSize</key>
                <string>{48,76}</string>
            </dict>
            <key>3d_left_pair_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,515},{65,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>3d_left_pair_dao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,431},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>3d_left_pair_reverseside_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,513},{65,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,49}}</string>
                <key>sourceSize</key>
                <string>{65,49}</string>
            </dict>
            <key>3d_left_showcard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,142},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>3d_me_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,122}}</string>
                <key>sourceSize</key>
                <string>{90,122}</string>
            </dict>
            <key>3d_me_pair_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>3d_me_pair_1_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{111,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,88}}</string>
                <key>sourceSize</key>
                <string>{111,88}</string>
            </dict>
            <key>3d_me_pair_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,92},{97,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,101}</string>
            </dict>
            <key>3d_me_pair_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,191},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>3d_me_pair_3_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{106,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,88}}</string>
                <key>sourceSize</key>
                <string>{106,88}</string>
            </dict>
            <key>3d_me_pair_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{88,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>3d_me_pair_4_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{102,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,88}}</string>
                <key>sourceSize</key>
                <string>{102,88}</string>
            </dict>
            <key>3d_me_pair_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{85,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,101}}</string>
                <key>sourceSize</key>
                <string>{85,101}</string>
            </dict>
            <key>3d_me_pair_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,285},{82,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,101}}</string>
                <key>sourceSize</key>
                <string>{82,101}</string>
            </dict>
            <key>3d_me_pair_6_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{97,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,88}}</string>
                <key>sourceSize</key>
                <string>{97,88}</string>
            </dict>
            <key>3d_me_pair_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,372},{79,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,101}}</string>
                <key>sourceSize</key>
                <string>{79,101}</string>
            </dict>
            <key>3d_me_pair_7_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,341},{96,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,88}}</string>
                <key>sourceSize</key>
                <string>{96,88}</string>
            </dict>
            <key>3d_me_pair_reverseside_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,92},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>3d_me_pair_reverseside_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,92},{97,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,101}}</string>
                <key>sourceSize</key>
                <string>{97,101}</string>
            </dict>
            <key>3d_me_pair_reverseside_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,191},{92,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,101}}</string>
                <key>sourceSize</key>
                <string>{92,101}</string>
            </dict>
            <key>3d_me_pair_reverseside_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,195},{88,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>3d_me_pair_reverseside_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,285},{85,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,101}}</string>
                <key>sourceSize</key>
                <string>{85,101}</string>
            </dict>
            <key>3d_me_pair_reverseside_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,285},{82,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,101}}</string>
                <key>sourceSize</key>
                <string>{82,101}</string>
            </dict>
            <key>3d_me_pair_reverseside_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,369},{79,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,101}}</string>
                <key>sourceSize</key>
                <string>{79,101}</string>
            </dict>
            <key>3d_me_showcard_flower_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,431},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>3d_me_showcard_flower_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>3d_me_showcard_flower_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,453},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,68}}</string>
                <key>sourceSize</key>
                <string>{60,68}</string>
            </dict>
            <key>3d_me_showcard_flower_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{59,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,68}}</string>
                <key>sourceSize</key>
                <string>{59,68}</string>
            </dict>
            <key>3d_me_showcard_flower_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,72},{58,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,68}}</string>
                <key>sourceSize</key>
                <string>{58,68}</string>
            </dict>
            <key>3d_me_showcard_flower_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,483},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>3d_me_showcard_flower_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,201},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>3d_me_showcard_flower_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,271},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>3d_me_showcard_flower_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,450},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>3d_me_showcard_flower_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,419},{62,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,68}}</string>
                <key>sourceSize</key>
                <string>{62,68}</string>
            </dict>
            <key>3d_up_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{43,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,58}}</string>
                <key>sourceSize</key>
                <string>{43,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3d_card.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34b0ba2bacd0aa028fda9864c4f79e70:1/1$</string>
            <key>textureFileName</key>
            <string>3d_card.png</string>
        </dict>
    </dict>
</plist>
