<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_agree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{213,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,78}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>btn_agree_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,278},{203,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{203,76}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>btn_agree_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{213,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,78}}</string>
                <key>sourceSize</key>
                <string>{213,78}</string>
            </dict>
            <key>btn_disagree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,98}}</string>
                <key>sourceSize</key>
                <string>{230,98}</string>
            </dict>
            <key>btn_disagree_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{220,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{220,94}}</string>
                <key>sourceSize</key>
                <string>{230,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>applyQuit.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c45755cec9929b9a539d07a78c4efb1:1/1$</string>
            <key>textureFileName</key>
            <string>applyQuit.png</string>
        </dict>
    </dict>
</plist>
