<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2dmj_card_me_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,122},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>2dmj_card_me_back_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,242},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>2dmj_card_me_back_1_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>2dmj_card_me_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,114},{76,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>2dmj_card_me_back_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{76,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>2dmj_card_me_back_2_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,114},{76,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>2dmj_card_me_back_dao_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,306},{95,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,78}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>2dmj_card_me_back_dao_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,226},{95,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,78}}</string>
                <key>sourceSize</key>
                <string>{95,78}</string>
            </dict>
            <key>2dmj_card_me_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>2dmj_card_me_face_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,122},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>2dmj_card_me_face_1_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>2dmj_card_me_face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,242},{76,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>2dmj_card_me_face_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,362},{76,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>2dmj_card_me_face_2_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{76,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,110}}</string>
                <key>sourceSize</key>
                <string>{76,110}</string>
            </dict>
            <key>2dmj_card_me_face_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,194},{93,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>2dmj_card_me_face_dao_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,99},{93,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{93,88}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>2dmj_card_me_face_dao_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{95,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,88}}</string>
                <key>sourceSize</key>
                <string>{95,88}</string>
            </dict>
            <key>2dmj_card_me_stand_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>2dmj_card_me_stand_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>2dmj_card_me_stand_1_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,118}}</string>
                <key>sourceSize</key>
                <string>{84,118}</string>
            </dict>
            <key>2dmj_card_side_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,404},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>2dmj_card_side_back_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,346},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>2dmj_card_side_back_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,350},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>2dmj_card_side_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,436},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>2dmj_card_side_face_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,426},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>2dmj_card_side_face_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,386},{52,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,48}</string>
            </dict>
            <key>2dmj_card_side_roll.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,450},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>2dmj_card_side_roll_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,458},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>2dmj_card_side_roll_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,400},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>2dmj_card_side_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,362},{24,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,62}}</string>
                <key>sourceSize</key>
                <string>{24,62}</string>
            </dict>
            <key>2dmj_card_side_stand_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,474},{24,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,62}}</string>
                <key>sourceSize</key>
                <string>{24,62}</string>
            </dict>
            <key>2dmj_card_side_stand_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{24,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,62}}</string>
                <key>sourceSize</key>
                <string>{24,62}</string>
            </dict>
            <key>2dmj_card_top_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,284},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>2dmj_card_top_back_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,288},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>2dmj_card_top_back_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,368},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>2dmj_card_top_face.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,306},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>2dmj_card_top_face_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,436},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>2dmj_card_top_face_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,430},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>2dmj_card_top_stand.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,386},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>2dmj_card_top_stand_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,354},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
            <key>2dmj_card_top_stand_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,226},{42,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,60}}</string>
                <key>sourceSize</key>
                <string>{42,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_new.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2073a68dbdc84480dad0826be0fcacaf:1/1$</string>
            <key>textureFileName</key>
            <string>card_new.png</string>
        </dict>
    </dict>
</plist>
