<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,428},{82,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{82,82}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>hongyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,352},{84,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,15},{84,82}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>koubi.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,344},{82,82}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{82,82}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>ku.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,176},{82,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{82,88}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>shanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{90,94}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{90,94}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>shaoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{82,86}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,15},{82,86}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>tuosai.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,260},{82,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{82,86}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>tuxue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{82,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{82,84}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,90},{98,84}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{98,84}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>zaijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{98,82}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{98,82}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>zan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,88}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{100,88}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>zhuakuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{98,86}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{98,86}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chatEmotion.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:482d25ed3f8ab49fd286a2a99b1ab731:1/1$</string>
            <key>textureFileName</key>
            <string>chatEmotion.png</string>
        </dict>
    </dict>
</plist>
