<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pop-up_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,138},{201,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,44}}</string>
                <key>sourceSize</key>
                <string>{201,44}</string>
            </dict>
            <key>pop-up_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{201,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,44}}</string>
                <key>sourceSize</key>
                <string>{201,44}</string>
            </dict>
            <key>pop-up_text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,44}}</string>
                <key>sourceSize</key>
                <string>{238,44}</string>
            </dict>
            <key>pop-up_text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,70},{201,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,66}}</string>
                <key>sourceSize</key>
                <string>{201,66}</string>
            </dict>
            <key>pop-up_text_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{201,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,66}}</string>
                <key>sourceSize</key>
                <string>{201,66}</string>
            </dict>
            <key>pop-up_text_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{201,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,44}}</string>
                <key>sourceSize</key>
                <string>{201,44}</string>
            </dict>
            <key>pop-up_text_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{201,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,66}}</string>
                <key>sourceSize</key>
                <string>{201,66}</string>
            </dict>
            <key>text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,254},{197,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,44}}</string>
                <key>sourceSize</key>
                <string>{197,44}</string>
            </dict>
            <key>text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,254},{197,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,44}}</string>
                <key>sourceSize</key>
                <string>{197,44}</string>
            </dict>
            <key>text_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{197,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,44}}</string>
                <key>sourceSize</key>
                <string>{197,44}</string>
            </dict>
            <key>text_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{197,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,44}}</string>
                <key>sourceSize</key>
                <string>{197,44}</string>
            </dict>
            <key>text_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{197,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,44}}</string>
                <key>sourceSize</key>
                <string>{197,44}</string>
            </dict>
            <key>text_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,184},{197,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,44}}</string>
                <key>sourceSize</key>
                <string>{197,44}</string>
            </dict>
            <key>text_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{197,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,44}}</string>
                <key>sourceSize</key>
                <string>{197,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chatText.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d3a3c59bbe64bf19692260ef8db2eca:1/1$</string>
            <key>textureFileName</key>
            <string>chatText.png</string>
        </dict>
    </dict>
</plist>
