<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_club_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{267,110}}</string>
                <key>sourceSize</key>
                <string>{267,110}</string>
            </dict>
            <key>btn_club_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,109},{255,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{255,106}}</string>
                <key>sourceSize</key>
                <string>{267,110}</string>
            </dict>
            <key>btn_club_creatClub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,220},{252,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,105}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_club_creatClub_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,303},{240,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{240,101}}</string>
                <key>sourceSize</key>
                <string>{252,105}</string>
            </dict>
            <key>btn_club_creatTable_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{243,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,105}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_club_creatTable_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,447},{233,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{233,101}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_club_diary_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,615},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>btn_club_diary_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,697},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{90,40}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>btn_club_dissolve_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,793},{143,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,71}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>btn_club_dissolve_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,888},{137,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{137,69}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>btn_club_editText_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,519},{94,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,42}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>btn_club_editText_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,697},{90,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{90,40}}</string>
                <key>sourceSize</key>
                <string>{94,42}</string>
            </dict>
            <key>btn_club_inviteClub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{200,77}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{200,77}}</string>
                <key>sourceSize</key>
                <string>{202,89}</string>
            </dict>
            <key>btn_club_inviteClub_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,669},{190,73}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{190,73}}</string>
                <key>sourceSize</key>
                <string>{202,89}</string>
            </dict>
            <key>btn_club_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,794},{143,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,71}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>btn_club_invite_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,817},{137,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{137,69}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>btn_club_joinClub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{253,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,106}}</string>
                <key>sourceSize</key>
                <string>{253,106}</string>
            </dict>
            <key>btn_club_joinClub_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,434},{241,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{241,102}}</string>
                <key>sourceSize</key>
                <string>{253,106}</string>
            </dict>
            <key>btn_club_member_kickOut_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,2},{266,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,109}}</string>
                <key>sourceSize</key>
                <string>{266,109}</string>
            </dict>
            <key>btn_club_member_kickOut_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,113},{254,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{254,105}}</string>
                <key>sourceSize</key>
                <string>{266,109}</string>
            </dict>
            <key>btn_club_member_kickOut_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,2},{263,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,105}}</string>
                <key>sourceSize</key>
                <string>{263,105}</string>
            </dict>
            <key>btn_club_publishNews_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,217},{253,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,115}}</string>
                <key>sourceSize</key>
                <string>{253,115}</string>
            </dict>
            <key>btn_club_publishNews_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,334},{241,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{241,111}}</string>
                <key>sourceSize</key>
                <string>{253,115}</string>
            </dict>
            <key>btn_club_request_refuse_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,797},{143,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,71}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>btn_club_request_refuse_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,895},{137,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{137,69}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>btn_jlb_tips_ok_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,583},{195,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,84}}</string>
                <key>sourceSize</key>
                <string>{195,84}</string>
            </dict>
            <key>btn_jlb_tips_ok_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{187,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{187,80}}</string>
                <key>sourceSize</key>
                <string>{195,84}</string>
            </dict>
            <key>btn_menmber_isolation1.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,105},{202,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,89}}</string>
                <key>sourceSize</key>
                <string>{202,89}</string>
            </dict>
            <key>btn_menmber_isolation2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,550},{192,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{192,85}}</string>
                <key>sourceSize</key>
                <string>{202,89}</string>
            </dict>
            <key>club_btn_find_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,196},{225,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,105}}</string>
                <key>sourceSize</key>
                <string>{225,105}</string>
            </dict>
            <key>club_btn_find_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{215,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{215,101}}</string>
                <key>sourceSize</key>
                <string>{225,105}</string>
            </dict>
            <key>club_btn_find_one_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,550},{131,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,65}}</string>
                <key>sourceSize</key>
                <string>{131,65}</string>
            </dict>
            <key>club_btn_find_one_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,683},{125,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{125,63}}</string>
                <key>sourceSize</key>
                <string>{131,65}</string>
            </dict>
            <key>club_btn_findmember_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{198,87}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{198,87}}</string>
                <key>sourceSize</key>
                <string>{202,89}</string>
            </dict>
            <key>club_btn_findmember_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,612},{188,83}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{188,83}}</string>
                <key>sourceSize</key>
                <string>{202,89}</string>
            </dict>
            <key>club_btn_select_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,550},{131,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,65}}</string>
                <key>sourceSize</key>
                <string>{131,65}</string>
            </dict>
            <key>club_btn_select_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,683},{125,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{125,63}}</string>
                <key>sourceSize</key>
                <string>{131,65}</string>
            </dict>
            <key>club_button_club_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,797},{143,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,71}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>club_button_club_set_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,789},{137,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{137,69}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>club_template_rules_add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{250,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,109}}</string>
                <key>sourceSize</key>
                <string>{250,109}</string>
            </dict>
            <key>club_template_rules_add_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{238,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{238,105}}</string>
                <key>sourceSize</key>
                <string>{250,109}</string>
            </dict>
            <key>club_template_rules_delete_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{143,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,71}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>club_template_rules_delete_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,938},{137,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{137,69}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>club_template_rules_mgr_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,327},{243,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,105}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>club_template_rules_mgr_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,480},{233,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{233,101}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>img_club_base.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,652},{62,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,49}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>img_club_base_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,744},{60,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,48}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>img_club_base_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,716},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{59,60}</string>
            </dict>
            <key>img_club_border_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,334},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>img_club_border_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,583},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>img_club_broadcasting.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,637},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>img_club_member_flag_looker.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,394},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>img_club_member_position_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,632},{83,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,29}}</string>
                <key>sourceSize</key>
                <string>{83,29}</string>
            </dict>
            <key>img_club_member_position_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,547},{83,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,29}}</string>
                <key>sourceSize</key>
                <string>{83,29}</string>
            </dict>
            <key>img_club_member_position_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,434},{83,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,29}}</string>
                <key>sourceSize</key>
                <string>{83,29}</string>
            </dict>
            <key>lable_club_history_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,786},{88,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,107}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>lable_club_history_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,711},{80,97}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,97}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>lable_club_member_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,727},{88,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,107}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>lable_club_member_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,942},{80,97}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,97}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>lable_club_myClub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,406},{239,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,72}}</string>
                <key>sourceSize</key>
                <string>{239,72}</string>
            </dict>
            <key>lable_club_myClub_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,538},{219,72}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,72}}</string>
                <key>sourceSize</key>
                <string>{239,72}</string>
            </dict>
            <key>lable_club_request_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,637},{88,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,107}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>lable_club_request_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,942},{80,97}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,97}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>lable_club_table_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,696},{88,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,107}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>lable_club_table_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{80,97}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,97}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>club.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:632280eeed2d6018d41bcde49929615c:1/1$</string>
            <key>textureFileName</key>
            <string>club.png</string>
        </dict>
    </dict>
</plist>
