<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_club_FortuneScore_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,456},{80,97}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{80,97}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>btn_club_FortuneScore_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,184},{88,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,107}}</string>
                <key>sourceSize</key>
                <string>{88,107}</string>
            </dict>
            <key>btn_club_allow_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,434},{188,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,70}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_allow_game_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,456},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{180,68}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_allow_game_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,371},{188,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,70}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_check1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,103},{193,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,35}}</string>
                <key>sourceSize</key>
                <string>{193,35}</string>
            </dict>
            <key>btn_club_check2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,144},{183,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{183,33}}</string>
                <key>sourceSize</key>
                <string>{193,35}</string>
            </dict>
            <key>btn_club_cyff_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{253,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,105}}</string>
                <key>sourceSize</key>
                <string>{253,105}</string>
            </dict>
            <key>btn_club_cyff_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{241,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{241,99}}</string>
                <key>sourceSize</key>
                <string>{253,105}</string>
            </dict>
            <key>btn_club_forbit_game_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,362},{188,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,70}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_forbit_game_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,506},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{180,68}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_forbit_game_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,299},{188,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,70}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_fufenjl_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{194,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,65}}</string>
                <key>sourceSize</key>
                <string>{194,65}</string>
            </dict>
            <key>btn_club_fufenjl_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{194,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,65}}</string>
                <key>sourceSize</key>
                <string>{194,65}</string>
            </dict>
            <key>btn_club_fufensc_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,103},{194,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,65}}</string>
                <key>sourceSize</key>
                <string>{194,65}</string>
            </dict>
            <key>btn_club_fufensc_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,295},{194,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,65}}</string>
                <key>sourceSize</key>
                <string>{194,65}</string>
            </dict>
            <key>btn_club_scjl_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,274},{180,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,98}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>btn_club_scjl_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{162,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{162,94}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>btn_club_scsz_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{180,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,98}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>btn_club_scsz_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,538},{162,94}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{162,94}}</string>
                <key>sourceSize</key>
                <string>{180,98}</string>
            </dict>
            <key>btn_club_set_manager2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,314},{188,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,70}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_set_manager2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{180,68}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_set_manager2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,298},{188,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,70}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_set_manager3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,242},{188,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,70}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_set_manager3_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,386},{180,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{180,68}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_set_manager3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,170},{188,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,70}}</string>
                <key>sourceSize</key>
                <string>{188,70}</string>
            </dict>
            <key>btn_club_set_member_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{189,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,70}}</string>
                <key>sourceSize</key>
                <string>{189,70}</string>
            </dict>
            <key>btn_club_set_member_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,443},{181,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{181,68}}</string>
                <key>sourceSize</key>
                <string>{189,70}</string>
            </dict>
            <key>btn_club_set_member_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{189,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,70}}</string>
                <key>sourceSize</key>
                <string>{189,70}</string>
            </dict>
            <key>btn_club_set_zhibanren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{213,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,98}}</string>
                <key>sourceSize</key>
                <string>{213,98}</string>
            </dict>
            <key>btn_club_set_zhibanren_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,2},{203,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{203,94}}</string>
                <key>sourceSize</key>
                <string>{213,98}</string>
            </dict>
            <key>btn_club_sssq_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,102},{196,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,195}}</string>
                <key>sourceSize</key>
                <string>{196,195}</string>
            </dict>
            <key>btn_club_sssq_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,98},{196,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,195}}</string>
                <key>sourceSize</key>
                <string>{196,195}</string>
            </dict>
            <key>img_club_fufen_pulldown.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,102},{17,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,10}}</string>
                <key>sourceSize</key>
                <string>{17,10}</string>
            </dict>
            <key>img_club_member_flag_v.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,109},{51,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,33}}</string>
                <key>sourceSize</key>
                <string>{51,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>club3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f54f581246e6130370ed36db13c1592:1/1$</string>
            <key>textureFileName</key>
            <string>club3.png</string>
        </dict>
    </dict>
</plist>
