<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_club_bigcreatClub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{264,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,108}}</string>
                <key>sourceSize</key>
                <string>{264,108}</string>
            </dict>
            <key>btn_club_bigcreatClub_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,112},{252,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{252,104}}</string>
                <key>sourceSize</key>
                <string>{264,108}</string>
            </dict>
            <key>btn_club_bigjoinClub_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{243,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,105}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_club_bigjoinClub_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,370},{233,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{233,101}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_club_edit_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,74},{159,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,61}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>btn_club_edit_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,440},{153,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{153,59}}</string>
                <key>sourceSize</key>
                <string>{159,61}</string>
            </dict>
            <key>btn_club_member_kickOut_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,118}}</string>
                <key>sourceSize</key>
                <string>{298,118}</string>
            </dict>
            <key>btn_club_member_quit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,230},{243,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,105}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_club_member_quit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{233,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{233,101}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_club_member_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,655},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>btn_club_member_setting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,698},{70,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,68}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>btn_club_record_details_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,428},{126,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,64}}</string>
                <key>sourceSize</key>
                <string>{126,64}</string>
            </dict>
            <key>btn_club_record_details_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,520},{120,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,62}}</string>
                <key>sourceSize</key>
                <string>{126,64}</string>
            </dict>
            <key>btn_club_record_settle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{114,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,59}}</string>
                <key>sourceSize</key>
                <string>{114,59}</string>
            </dict>
            <key>btn_club_record_settle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,544},{110,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{110,57}}</string>
                <key>sourceSize</key>
                <string>{114,59}</string>
            </dict>
            <key>btn_club_request_agree_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,514},{143,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,71}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>btn_club_request_agree_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{137,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{137,69}}</string>
                <key>sourceSize</key>
                <string>{143,71}</string>
            </dict>
            <key>btn_club_roomRules_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,325},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_club_roomRules_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,218},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,40}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>btn_jlb_creater_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,218},{243,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,105}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_jlb_creater_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,337},{233,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{233,101}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_jlb_join_tijiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,123},{243,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,105}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_jlb_join_tijiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,325},{233,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{233,101}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_record_replay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,501},{120,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,57}}</string>
                <key>sourceSize</key>
                <string>{120,57}</string>
            </dict>
            <key>btn_record_replay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,526},{116,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{116,55}}</string>
                <key>sourceSize</key>
                <string>{120,57}</string>
            </dict>
            <key>club_Findmore_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{173,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,34}}</string>
                <key>sourceSize</key>
                <string>{173,34}</string>
            </dict>
            <key>club_Findmore_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,38},{165,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{165,34}}</string>
                <key>sourceSize</key>
                <string>{173,34}</string>
            </dict>
            <key>club_btn_dissolve_room_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,428},{195,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,84}}</string>
                <key>sourceSize</key>
                <string>{195,84}</string>
            </dict>
            <key>club_btn_dissolve_room_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,137},{187,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{187,80}}</string>
                <key>sourceSize</key>
                <string>{195,84}</string>
            </dict>
            <key>club_button_clubset_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{276,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,119}}</string>
                <key>sourceSize</key>
                <string>{276,119}</string>
            </dict>
            <key>club_button_clubset_save1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{264,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{264,115}}</string>
                <key>sourceSize</key>
                <string>{276,119}</string>
            </dict>
            <key>club_progress_text_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,38},{58,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,2}}</string>
                <key>sourceSize</key>
                <string>{58,2}</string>
            </dict>
            <key>flag_club_force.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,123},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>flag_club_rqs_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,315},{198,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,53}}</string>
                <key>sourceSize</key>
                <string>{198,53}</string>
            </dict>
            <key>flag_club_rqs_quit.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,260},{198,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,53}}</string>
                <key>sourceSize</key>
                <string>{198,53}</string>
            </dict>
            <key>img_club_head_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,583},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>img_club_headshot_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,440},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>img_club_headshot_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,645},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,90}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>img_club_myClub_creat.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,219},{34,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,42}}</string>
                <key>sourceSize</key>
                <string>{34,42}</string>
            </dict>
            <key>img_club_table_check_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,849},{47,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,47}}</string>
                <key>sourceSize</key>
                <string>{47,47}</string>
            </dict>
            <key>img_club_table_check_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,583},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{56,62}</string>
            </dict>
            <key>img_color_room_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>img_color_room_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,737},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>img_color_room_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,514},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>img_set_color_room_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,603},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>img_set_color_room_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,560},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>img_set_color_room_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,449},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>zhibanren_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,156},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>zhibanren_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,122},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>club2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0fa9c19551aaf029e7a3a568b3b7d19:1/1$</string>
            <key>textureFileName</key>
            <string>club2.png</string>
        </dict>
    </dict>
</plist>
