<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_club_history_reviewOthers_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{245,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,107}}</string>
                <key>sourceSize</key>
                <string>{245,107}</string>
            </dict>
            <key>btn_club_history_reviewOthers_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,249},{235,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{235,103}}</string>
                <key>sourceSize</key>
                <string>{245,107}</string>
            </dict>
            <key>btn_club_history_reviewOthers_ok_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{203,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,103}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>btn_club_history_reviewOthers_ok_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,206},{195,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{195,99}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>btn_club_table_dissolveCancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{202,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,102}}</string>
                <key>sourceSize</key>
                <string>{202,102}</string>
            </dict>
            <key>btn_club_table_dissolveCancel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,198},{194,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{194,98}}</string>
                <key>sourceSize</key>
                <string>{202,102}</string>
            </dict>
            <key>btn_discard_win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,207},{202,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,102}}</string>
                <key>sourceSize</key>
                <string>{202,102}</string>
            </dict>
            <key>btn_discard_win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{194,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{194,98}}</string>
                <key>sourceSize</key>
                <string>{202,102}</string>
            </dict>
            <key>btn_game_win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,225},{203,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,103}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>btn_game_win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,411},{195,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{195,99}}</string>
                <key>sourceSize</key>
                <string>{203,103}</string>
            </dict>
            <key>btn_jlb_common_close_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,394},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,94}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>btn_jlb_common_close_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{93,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{93,90}}</string>
                <key>sourceSize</key>
                <string>{97,94}</string>
            </dict>
            <key>btn_nj_record_homericon.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,138},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,37}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>checkbox_check_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,122},{49,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>checkbox_check_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,173},{45,47}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,47}}</string>
                <key>sourceSize</key>
                <string>{49,49}</string>
            </dict>
            <key>checkbox_radio_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,430},{55,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,59}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>checkbox_radio_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,122},{51,53}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{51,53}}</string>
                <key>sourceSize</key>
                <string>{55,59}</string>
            </dict>
            <key>common2_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,430},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,50}}</string>
                <key>sourceSize</key>
                <string>{62,50}</string>
            </dict>
            <key>common2_img_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,492},{147,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,4}}</string>
                <key>sourceSize</key>
                <string>{147,4}</string>
            </dict>
            <key>common2_img_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{147,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,4}}</string>
                <key>sourceSize</key>
                <string>{147,4}</string>
            </dict>
            <key>common_tab_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{241,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,74}}</string>
                <key>sourceSize</key>
                <string>{241,74}</string>
            </dict>
            <key>common_tab_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{221,74}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,74}}</string>
                <key>sourceSize</key>
                <string>{241,74}</string>
            </dict>
            <key>img_club_history_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,138},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>img_club_history_record_bijiahu.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,430},{72,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,32}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>img_mask_alphaHalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{118,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>img_red_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,97},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>ui_record_img_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,12}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common2.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d02d7077e2e635d38bdffa4c24fd407a:1/1$</string>
            <key>textureFileName</key>
            <string>common2.png</string>
        </dict>
    </dict>
</plist>
