<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bentouming.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,182},{16,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,9}}</string>
                <key>sourceSize</key>
                <string>{16,9}</string>
            </dict>
            <key>btn_common_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,694},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>btn_common_setting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,661},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>btn_nj_common_goback_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,697},{61,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,62}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>btn_nj_common_goback_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,661},{59,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,60}}</string>
                <key>sourceSize</key>
                <string>{61,62}</string>
            </dict>
            <key>btn_nj_settle_continue_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{295,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,88}}</string>
                <key>sourceSize</key>
                <string>{295,88}</string>
            </dict>
            <key>btn_nj_settle_continue_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{281,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{281,84}}</string>
                <key>sourceSize</key>
                <string>{295,88}</string>
            </dict>
            <key>btn_nj_settle_share_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{287,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,90}}</string>
                <key>sourceSize</key>
                <string>{287,90}</string>
            </dict>
            <key>btn_nj_settle_share_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,291},{275,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{275,86}}</string>
                <key>sourceSize</key>
                <string>{287,90}</string>
            </dict>
            <key>button_dissolve_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,260},{263,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,89}}</string>
                <key>sourceSize</key>
                <string>{263,89}</string>
            </dict>
            <key>button_dissolve_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{251,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{251,85}}</string>
                <key>sourceSize</key>
                <string>{263,89}</string>
            </dict>
            <key>button_invite_player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{256,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,90}}</string>
                <key>sourceSize</key>
                <string>{256,90}</string>
            </dict>
            <key>button_invite_player_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,573},{244,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{244,86}}</string>
                <key>sourceSize</key>
                <string>{256,90}</string>
            </dict>
            <key>button_njmj_checkjiesuan_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,88}}</string>
                <key>sourceSize</key>
                <string>{295,88}</string>
            </dict>
            <key>button_njmj_checkjiesuan_p.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{281,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{281,84}}</string>
                <key>sourceSize</key>
                <string>{295,88}</string>
            </dict>
            <key>button_weixin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{260,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{260,86}}</string>
                <key>sourceSize</key>
                <string>{264,88}</string>
            </dict>
            <key>button_weixin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,529},{246,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{246,82}}</string>
                <key>sourceSize</key>
                <string>{264,88}</string>
            </dict>
            <key>headshot_example.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,613},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{83,82}</string>
            </dict>
            <key>icon_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,613},{76,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{76,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,661},{70,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{70,70}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_red_package.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,675},{63,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,65}}</string>
                <key>sourceSize</key>
                <string>{63,65}</string>
            </dict>
            <key>img_broadcasting.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,529},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,39}</string>
            </dict>
            <key>img_mask_black_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,613},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>line_gameSettle_savePic.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,200},{90,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,4}}</string>
                <key>sourceSize</key>
                <string>{90,4}</string>
            </dict>
            <key>touming.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,182},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55957cb94877846b2482acfbe67564f2:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
