<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_download_game_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{403,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{403,16}}</string>
                <key>sourceSize</key>
                <string>{407,20}</string>
            </dict>
            <key>bg_download_game_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{407,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,20}}</string>
                <key>sourceSize</key>
                <string>{407,20}</string>
            </dict>
            <key>download_majiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,254},{80,90}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,60},{80,90}}</string>
                <key>sourceSize</key>
                <string>{92,150}</string>
            </dict>
            <key>download_majiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{92,88}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,62},{92,88}}</string>
                <key>sourceSize</key>
                <string>{92,150}</string>
            </dict>
            <key>download_majiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,254},{76,112}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,38},{76,112}}</string>
                <key>sourceSize</key>
                <string>{92,150}</string>
            </dict>
            <key>download_majiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,172},{80,134}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{80,134}}</string>
                <key>sourceSize</key>
                <string>{92,150}</string>
            </dict>
            <key>download_majiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,90},{80,144}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{80,144}}</string>
                <key>sourceSize</key>
                <string>{92,150}</string>
            </dict>
            <key>download_majiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{86,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{86,148}}</string>
                <key>sourceSize</key>
                <string>{92,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>downloadMiniGame.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39f2f2647058b4dceb52805b92a4f334:1/1$</string>
            <key>textureFileName</key>
            <string>downloadMiniGame.png</string>
        </dict>
    </dict>
</plist>
