<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_mail.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,450},{322,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,104}}</string>
                <key>sourceSize</key>
                <string>{322,104}</string>
            </dict>
            <key>bg_mail_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,556},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,92}}</string>
                <key>sourceSize</key>
                <string>{92,92}</string>
            </dict>
            <key>bg_mail_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{503,446}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,446}}</string>
                <key>sourceSize</key>
                <string>{503,446}</string>
            </dict>
            <key>bg_mail_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{322,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,104}}</string>
                <key>sourceSize</key>
                <string>{322,104}</string>
            </dict>
            <key>button_receive_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{203,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,98}}</string>
                <key>sourceSize</key>
                <string>{203,98}</string>
            </dict>
            <key>button_receive_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,806},{195,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{195,94}}</string>
                <key>sourceSize</key>
                <string>{203,98}</string>
            </dict>
            <key>img_mail_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,450},{76,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,61}}</string>
                <key>sourceSize</key>
                <string>{76,61}</string>
            </dict>
            <key>img_not-read.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,602},{87,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,71}}</string>
                <key>sourceSize</key>
                <string>{87,71}</string>
            </dict>
            <key>img_not-receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,513},{87,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,71}}</string>
                <key>sourceSize</key>
                <string>{87,71}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,650},{69,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,43}}</string>
                <key>sourceSize</key>
                <string>{69,43}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,691},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,758},{69,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,46}}</string>
                <key>sourceSize</key>
                <string>{69,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>email.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33536179fb150805f71807c37c119c68:1/1$</string>
            <key>textureFileName</key>
            <string>email.png</string>
        </dict>
    </dict>
</plist>
