<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_expand.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,230},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>bg_gameui_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,388},{82,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,70}}</string>
                <key>sourceSize</key>
                <string>{82,70}</string>
            </dict>
            <key>bg_jiapai.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,156},{47,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,71}}</string>
                <key>sourceSize</key>
                <string>{47,71}</string>
            </dict>
            <key>bg_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,132},{88,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,33}}</string>
                <key>sourceSize</key>
                <string>{88,33}</string>
            </dict>
            <key>bg_system.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,307},{64,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,49}}</string>
                <key>sourceSize</key>
                <string>{64,49}</string>
            </dict>
            <key>btn_gameUI_refresh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,307},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>btn_gameUI_refresh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,382},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>btn_gameUI_scoreBoard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,179},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>btn_gameUI_scoreBoard_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,132},{42,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>btn_gameUI_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,225},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>btn_gameUI_setting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,457},{53,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,52}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>btn_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,457},{51,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,50}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>btn_help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,181},{47,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{47,46}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>button_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,387},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>button_chat_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,307},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>button_more_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{51,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{51,40}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>button_more_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,90},{47,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{47,38}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>button_quit_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,464},{51,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{51,46}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>button_quit_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,181},{47,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{47,42}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>button_voice-_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,230},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>button_voice-_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,384},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>feng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,166},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>feng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,358},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>feng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,281},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>feng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,358},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>img_bixiahu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{65,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,120}}</string>
                <key>sourceSize</key>
                <string>{65,120}</string>
            </dict>
            <key>img_dir_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{156,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,56}}</string>
                <key>sourceSize</key>
                <string>{156,56}</string>
            </dict>
            <key>img_dir_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,90},{64,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,126}}</string>
                <key>sourceSize</key>
                <string>{64,126}</string>
            </dict>
            <key>img_dir_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,72},{156,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,56}}</string>
                <key>sourceSize</key>
                <string>{156,56}</string>
            </dict>
            <key>img_dir_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,230},{64,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,126}}</string>
                <key>sourceSize</key>
                <string>{64,126}</string>
            </dict>
            <key>img_element_gamecenterbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{158,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,128}}</string>
                <key>sourceSize</key>
                <string>{158,128}</string>
            </dict>
            <key>img_gameUI_ting.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,132},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>img_gameui_headshot_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>img_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,358},{26,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,28}</string>
            </dict>
            <key>img_jinyuanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,230},{64,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,26}}</string>
                <key>sourceSize</key>
                <string>{64,26}</string>
            </dict>
            <key>img_normal_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,388},{107,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,8}}</string>
                <key>sourceSize</key>
                <string>{107,8}</string>
            </dict>
            <key>img_normal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,156},{8,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,71}}</string>
                <key>sourceSize</key>
                <string>{8,71}</string>
            </dict>
            <key>img_normal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,497},{102,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,8}}</string>
                <key>sourceSize</key>
                <string>{102,8}</string>
            </dict>
            <key>img_normal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,156},{8,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,71}}</string>
                <key>sourceSize</key>
                <string>{8,71}</string>
            </dict>
            <key>img_player_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,388},{88,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,27}}</string>
                <key>sourceSize</key>
                <string>{88,27}</string>
            </dict>
            <key>img_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>nowFeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,265},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>nowFeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,237},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>nowFeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,209},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>nowFeng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,181},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>sezi_value1.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,90},{39,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>sezi_value2.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,132},{35,45}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,45}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>sezi_value3.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,230},{33,45}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,45}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>sezi_value4.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,132},{37,47}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>sezi_value5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,472},{37,47}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,47}}</string>
                <key>sourceSize</key>
                <string>{39,51}</string>
            </dict>
            <key>sezi_value6.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,459},{51,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,56}}</string>
                <key>sourceSize</key>
                <string>{51,56}</string>
            </dict>
            <key>system_power_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,478},{30,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,14}}</string>
                <key>sourceSize</key>
                <string>{30,14}</string>
            </dict>
            <key>system_power_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,130},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
            <key>system_wifi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,472},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>system_wifi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,472},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>system_wifi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,358},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>system_wifi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,358},{28,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,22}}</string>
                <key>sourceSize</key>
                <string>{28,22}</string>
            </dict>
            <key>text_houseNum.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,86}}</string>
                <key>sourceSize</key>
                <string>{284,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUI.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ff2a840fae48ccd0826a1669361b2f2:1/1$</string>
            <key>textureFileName</key>
            <string>gameUI.png</string>
        </dict>
    </dict>
</plist>
