<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_nj_settle_wordtitle_dianhu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,424},{218,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,208}}</string>
                <key>sourceSize</key>
                <string>{218,212}</string>
            </dict>
            <key>img_nj_settle_wordtitle_dianhu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,634},{216,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{216,208}}</string>
                <key>sourceSize</key>
                <string>{218,212}</string>
            </dict>
            <key>img_nj_settle_wordtitle_liuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,210}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{218,210}}</string>
                <key>sourceSize</key>
                <string>{218,212}</string>
            </dict>
            <key>img_nj_settle_wordtitle_qianggang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{218,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,208}}</string>
                <key>sourceSize</key>
                <string>{218,208}</string>
            </dict>
            <key>img_nj_settle_wordtitle_qianggang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{216,208}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{216,208}}</string>
                <key>sourceSize</key>
                <string>{218,208}</string>
            </dict>
            <key>img_nj_settle_wordtitle_zimo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,212}}</string>
                <key>sourceSize</key>
                <string>{218,212}</string>
            </dict>
            <key>img_nj_settle_wordtitle_zimo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,214},{218,208}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{218,208}}</string>
                <key>sourceSize</key>
                <string>{218,212}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamesettle2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c85219e589bf3fc8eb54581da4a30bfc:1/1$</string>
            <key>textureFileName</key>
            <string>gamesettle2.png</string>
        </dict>
    </dict>
</plist>
