<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_nj_settle_shareReviewCode.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,94},{202,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{202,52}}</string>
                <key>sourceSize</key>
                <string>{204,54}</string>
            </dict>
            <key>img_nj_settle_baomi.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,279},{76,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,58}}</string>
                <key>sourceSize</key>
                <string>{76,58}</string>
            </dict>
            <key>img_nj_settle_benjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,166},{59,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,29}}</string>
                <key>sourceSize</key>
                <string>{59,29}</string>
            </dict>
            <key>img_nj_settle_dissolve_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,375},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>img_nj_settle_dissolver.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,225},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,75}}</string>
                <key>sourceSize</key>
                <string>{46,75}</string>
            </dict>
            <key>img_nj_settle_genghu.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,337},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>img_nj_settle_hutypeframebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,0},{166,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,33}}</string>
                <key>sourceSize</key>
                <string>{166,33}</string>
            </dict>
            <key>img_nj_settle_penaltypoint.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,261},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>img_nj_settle_sanbao.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,300},{75,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,57}}</string>
                <key>sourceSize</key>
                <string>{75,57}</string>
            </dict>
            <key>img_nj_settle_scoresgou.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{221,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,94}}</string>
                <key>sourceSize</key>
                <string>{221,94}</string>
            </dict>
            <key>img_nj_settle_waibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,115}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>img_nj_settle_yipaoduoxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,146},{99,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,65}}</string>
                <key>sourceSize</key>
                <string>{99,65}</string>
            </dict>
            <key>img_nj_settle_zimo.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,211},{91,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,68}}</string>
                <key>sourceSize</key>
                <string>{91,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamesettle.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96430f58a67a7455a2acdfe4ecdcf585:1/1$</string>
            <key>textureFileName</key>
            <string>gamesettle.png</string>
        </dict>
    </dict>
</plist>
