<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3d_center_clock_node.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,214},{87,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,59}}</string>
                <key>sourceSize</key>
                <string>{87,59}</string>
            </dict>
            <key>3d_feng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,319},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>3d_feng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,319},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>3d_feng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,319},{27,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,25}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>3d_feng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,319},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>3d_img_dir_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{201,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,47}}</string>
                <key>sourceSize</key>
                <string>{201,47}</string>
            </dict>
            <key>3d_img_dir_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,303},{73,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,122}}</string>
                <key>sourceSize</key>
                <string>{73,122}</string>
            </dict>
            <key>3d_img_dir_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{185,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,40}}</string>
                <key>sourceSize</key>
                <string>{185,40}</string>
            </dict>
            <key>3d_img_dir_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{71,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,123}}</string>
                <key>sourceSize</key>
                <string>{71,123}</string>
            </dict>
            <key>3d_img_element_gamecenterbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{227,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{227,151}}</string>
                <key>sourceSize</key>
                <string>{227,151}</string>
            </dict>
            <key>3d_nowFeng1.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,155},{28,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,45}}</string>
                <key>sourceSize</key>
                <string>{28,45}</string>
            </dict>
            <key>3d_nowFeng2.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,185},{27,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,45}}</string>
                <key>sourceSize</key>
                <string>{27,45}</string>
            </dict>
            <key>3d_nowFeng3.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,246},{27,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{27,44}</string>
            </dict>
            <key>3d_nowFeng4.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,246},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,44}}</string>
                <key>sourceSize</key>
                <string>{28,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game3dUI.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06a62d91e1aa3395ee03b338a354105c:1/1$</string>
            <key>textureFileName</key>
            <string>game3dUI.png</string>
        </dict>
    </dict>
</plist>
