<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_gang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,158},{138,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{138,140}</string>
            </dict>
            <key>button_gang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{132,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{132,134}}</string>
                <key>sourceSize</key>
                <string>{138,140}</string>
            </dict>
            <key>button_guo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,310},{138,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{138,140}</string>
            </dict>
            <key>button_guo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,142},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{138,140}</string>
            </dict>
            <key>button_hu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,154}}</string>
                <key>sourceSize</key>
                <string>{152,154}</string>
            </dict>
            <key>button_hu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{144,150}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{144,150}}</string>
                <key>sourceSize</key>
                <string>{152,154}</string>
            </dict>
            <key>button_peng_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{138,137}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,137}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>button_peng_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,280},{132,133}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{132,133}}</string>
                <key>sourceSize</key>
                <string>{138,139}</string>
            </dict>
            <key>button_ting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{138,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,140}}</string>
                <key>sourceSize</key>
                <string>{138,140}</string>
            </dict>
            <key>button_ting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,300},{132,136}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{132,136}}</string>
                <key>sourceSize</key>
                <string>{138,140}</string>
            </dict>
            <key>img_replay_operate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,452},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,40}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>img_replay_operate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,452},{42,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,39}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>img_replay_operate_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,452},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,41}}</string>
                <key>sourceSize</key>
                <string>{41,43}</string>
            </dict>
            <key>img_replay_operate_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,452},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,41}}</string>
                <key>sourceSize</key>
                <string>{42,43}</string>
            </dict>
            <key>img_replay_operate_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,452},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>img_replay_operate_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,438},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,39}}</string>
                <key>sourceSize</key>
                <string>{42,41}</string>
            </dict>
            <key>img_replay_operate_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{74,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,54}}</string>
                <key>sourceSize</key>
                <string>{74,54}</string>
            </dict>
            <key>img_replay_operate_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,415},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10b2d9e2b1c7e4d38614e83967e329a3:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
