<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_add_friends_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,422},{108,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,87}}</string>
                <key>sourceSize</key>
                <string>{108,87}</string>
            </dict>
            <key>bt_add_friends_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,338},{98,85}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{98,85}}</string>
                <key>sourceSize</key>
                <string>{108,87}</string>
            </dict>
            <key>over_bigsettlement_check.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,273},{63,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,24}}</string>
                <key>sourceSize</key>
                <string>{63,24}</string>
            </dict>
            <key>over_btn_copyInfo_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{199,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,88}}</string>
                <key>sourceSize</key>
                <string>{199,88}</string>
            </dict>
            <key>over_btn_copyInfo_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,278},{191,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{191,84}}</string>
                <key>sourceSize</key>
                <string>{199,88}</string>
            </dict>
            <key>over_btn_shareLink_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{240,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,90}}</string>
                <key>sourceSize</key>
                <string>{240,90}</string>
            </dict>
            <key>over_btn_shareLink_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,90},{230,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{230,86}}</string>
                <key>sourceSize</key>
                <string>{240,90}</string>
            </dict>
            <key>over_btn_shareOther_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,178},{220,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,88}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>over_btn_shareOther_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,268},{210,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{210,84}}</string>
                <key>sourceSize</key>
                <string>{220,88}</string>
            </dict>
            <key>over_btn_sharePic_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{240,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,90}}</string>
                <key>sourceSize</key>
                <string>{240,90}</string>
            </dict>
            <key>over_btn_sharePic_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{230,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{230,86}}</string>
                <key>sourceSize</key>
                <string>{240,90}</string>
            </dict>
            <key>over_djs_dismiss_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,354},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>over_djs_dismiss_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,354},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>over_djs_dismiss_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,425},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>over_djs_dismiss_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,425},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,73}}</string>
                <key>sourceSize</key>
                <string>{66,73}</string>
            </dict>
            <key>over_img_bg_room_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{276,90}}</string>
                <key>sourceSize</key>
                <string>{276,90}</string>
            </dict>
            <key>over_img_nj_settle_dissolve_agree.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,214},{33,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,57}}</string>
                <key>sourceSize</key>
                <string>{33,57}</string>
            </dict>
            <key>over_img_nj_settle_dissolver.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,154},{34,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{34,58}</string>
            </dict>
            <key>over_img_nj_settle_overtime.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,94},{34,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,58}}</string>
                <key>sourceSize</key>
                <string>{34,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameOver.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d08a702fe940a777470db81a89e6309:1/1$</string>
            <key>textureFileName</key>
            <string>gameOver.png</string>
        </dict>
    </dict>
</plist>
