<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_gameui_tingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,102},{190,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,168}}</string>
                <key>sourceSize</key>
                <string>{190,168}</string>
            </dict>
            <key>btn_gameui_cancel_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>btn_gameui_cancel_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,228},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{120,120}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>btn_gameui_hupaitishi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,350},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>btn_gameui_hupaitishi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,272},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,71}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>btn_gameui_quxiao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,102}}</string>
                <key>sourceSize</key>
                <string>{248,102}</string>
            </dict>
            <key>btn_gameui_quxiao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{236,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{236,98}}</string>
                <key>sourceSize</key>
                <string>{248,102}</string>
            </dict>
            <key>btn_gameui_tingpai_more_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>btn_gameui_tingpai_more_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,106},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{120,120}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>img_gameui_gang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{102,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,103}}</string>
                <key>sourceSize</key>
                <string>{102,103}</string>
            </dict>
            <key>img_gameui_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,400},{101,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,103}}</string>
                <key>sourceSize</key>
                <string>{101,103}</string>
            </dict>
            <key>img_gameui_ting_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,102},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameTingTint.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c819503a0175da431b5dc633ed7c16d9:1/1$</string>
            <key>textureFileName</key>
            <string>gameTingTint.png</string>
        </dict>
    </dict>
</plist>
