<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_text_guide_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{155,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,32}}</string>
                <key>sourceSize</key>
                <string>{155,32}</string>
            </dict>
            <key>img_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,88}}</string>
                <key>sourceSize</key>
                <string>{208,88}</string>
            </dict>
            <key>img_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,92},{87,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,93}}</string>
                <key>sourceSize</key>
                <string>{87,93}</string>
            </dict>
            <key>page_point_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>page_point_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,27},{19,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,20}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guide.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c1eeba3622c5d7a36caeb943931db3d:1/1$</string>
            <key>textureFileName</key>
            <string>guide.png</string>
        </dict>
    </dict>
</plist>
