<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>main_button_club_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,121},{106,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,172}}</string>
                <key>sourceSize</key>
                <string>{106,172}</string>
            </dict>
            <key>main_button_club_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{106,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,172}}</string>
                <key>sourceSize</key>
                <string>{106,172}</string>
            </dict>
            <key>main_button_roomcreate_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{117,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,190}}</string>
                <key>sourceSize</key>
                <string>{117,190}</string>
            </dict>
            <key>main_button_roomcreate_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{117,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,190}}</string>
                <key>sourceSize</key>
                <string>{117,190}</string>
            </dict>
            <key>main_button_roomjoin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{116,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,191}}</string>
                <key>sourceSize</key>
                <string>{116,191}</string>
            </dict>
            <key>main_button_roomjoin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,191}}</string>
                <key>sourceSize</key>
                <string>{116,191}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallScene2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:728c19eb165144bf5d310ba52cf7512a:1/1$</string>
            <key>textureFileName</key>
            <string>hallScene2.png</string>
        </dict>
    </dict>
</plist>
