<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_agent_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,71},{96,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,75}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>btn_agent_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,148},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{92,73}}</string>
                <key>sourceSize</key>
                <string>{96,75}</string>
            </dict>
            <key>btn_main_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,223},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>btn_main_setting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,207},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>btn_public_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,267},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>btn_public_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,344},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>btn_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,419},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>btn_share_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,223},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>button_activt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,71},{129,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,67}}</string>
                <key>sourceSize</key>
                <string>{129,67}</string>
            </dict>
            <key>button_activt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,267},{123,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{123,65}}</string>
                <key>sourceSize</key>
                <string>{129,67}</string>
            </dict>
            <key>button_add_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,30},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>button_add_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>button_mail_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,419},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>button_mail_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,291},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>button_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{136,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,67}}</string>
                <key>sourceSize</key>
                <string>{136,67}</string>
            </dict>
            <key>button_record_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{130,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{130,65}}</string>
                <key>sourceSize</key>
                <string>{136,67}</string>
            </dict>
            <key>button_rules_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{130,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,73}}</string>
                <key>sourceSize</key>
                <string>{130,73}</string>
            </dict>
            <key>button_rules_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{124,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,71}}</string>
                <key>sourceSize</key>
                <string>{130,73}</string>
            </dict>
            <key>button_store_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{133,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,67}}</string>
                <key>sourceSize</key>
                <string>{133,67}</string>
            </dict>
            <key>button_store_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,140},{127,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{127,65}}</string>
                <key>sourceSize</key>
                <string>{133,67}</string>
            </dict>
            <key>button_task_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,71},{130,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,67}}</string>
                <key>sourceSize</key>
                <string>{130,67}</string>
            </dict>
            <key>button_task_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,140},{124,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,65}}</string>
                <key>sourceSize</key>
                <string>{130,67}</string>
            </dict>
            <key>img_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{83,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,83}}</string>
                <key>sourceSize</key>
                <string>{83,83}</string>
            </dict>
            <key>text_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,48}}</string>
                <key>sourceSize</key>
                <string>{186,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hallscene.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f8281e2bdce677163ff9e06fa94a219:1/1$</string>
            <key>textureFileName</key>
            <string>hallscene.png</string>
        </dict>
    </dict>
</plist>
