<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item_1chun.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,80},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>item_2xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,80},{21,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{21,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>item_3qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,80},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{28,24}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>item_4dong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>item_5mei.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>item_6lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,103},{20,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{20,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>item_7zhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,30},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{24,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>item_8ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,56},{22,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{22,26}}</string>
                <key>sourceSize</key>
                <string>{28,26}</string>
            </dict>
            <key>item_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbf4b5718e40c63cdd9a99443c7060ec:1/1$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
