<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_Anti-Cheating_radar_d18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,463},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>btn_Anti-Cheating_continue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,108},{233,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,85}}</string>
                <key>sourceSize</key>
                <string>{233,85}</string>
            </dict>
            <key>btn_Anti-Cheating_continue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,108},{223,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{223,81}}</string>
                <key>sourceSize</key>
                <string>{233,85}</string>
            </dict>
            <key>btn_Anti-Cheating_dis_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{249,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,104}}</string>
                <key>sourceSize</key>
                <string>{249,104}</string>
            </dict>
            <key>btn_Anti-Cheating_dis_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,347},{237,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{237,100}}</string>
                <key>sourceSize</key>
                <string>{249,104}</string>
            </dict>
            <key>btn_Anti-Cheating_leave_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,104}}</string>
                <key>sourceSize</key>
                <string>{249,104}</string>
            </dict>
            <key>btn_Anti-Cheating_leave_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{237,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{237,100}}</string>
                <key>sourceSize</key>
                <string>{249,104}</string>
            </dict>
            <key>img_Anti-Cheating_radarBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,108},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,186}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>img_Anti-Cheating_radarScan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{114,68}}</string>
                <key>offset</key>
                <string>{-10,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{114,68}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>preventCheat.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce3591384e4f142eec90e1662c4daa14:1/1$</string>
            <key>textureFileName</key>
            <string>preventCheat.png</string>
        </dict>
    </dict>
</plist>
