<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_hongbao_bottomText.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,350},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>bg_hongbao_inviteRecord_innerList.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,52},{12,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,54}}</string>
                <key>sourceSize</key>
                <string>{12,54}</string>
            </dict>
            <key>bg_hongbao_inviteRecord_innerTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,52},{12,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,54}}</string>
                <key>sourceSize</key>
                <string>{12,54}</string>
            </dict>
            <key>bg_hongbao_nameText.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,264},{204,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,42}}</string>
                <key>sourceSize</key>
                <string>{204,42}</string>
            </dict>
            <key>bg_hongbao_wenxinText.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{22,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,30}}</string>
                <key>sourceSize</key>
                <string>{22,30}</string>
            </dict>
            <key>btn_hongbao_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,56},{110,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,40}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>btn_hongbao_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,614},{104,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{104,38}}</string>
                <key>sourceSize</key>
                <string>{110,40}</string>
            </dict>
            <key>btn_hongbao_blue_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,350},{206,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,72}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>btn_hongbao_blue_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,498},{200,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,72}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>btn_hongbao_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{206,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,72}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>btn_hongbao_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{200,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,72}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>btn_hongbao_inviteRecord_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{171,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,38}}</string>
                <key>sourceSize</key>
                <string>{171,38}</string>
            </dict>
            <key>btn_hongbao_inviteRecord_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{167,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{167,38}}</string>
                <key>sourceSize</key>
                <string>{171,38}</string>
            </dict>
            <key>btn_hongbao_yellow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,276},{206,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,72}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>btn_hongbao_yellow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,424},{200,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{200,72}}</string>
                <key>sourceSize</key>
                <string>{206,72}</string>
            </dict>
            <key>img_hongbao_alreadyReceive.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{113,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,94}}</string>
                <key>sourceSize</key>
                <string>{113,94}</string>
            </dict>
            <key>img_hongbao_bar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{360,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,22}}</string>
                <key>sourceSize</key>
                <string>{360,22}</string>
            </dict>
            <key>img_hongbao_bar_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,22}}</string>
                <key>sourceSize</key>
                <string>{360,22}</string>
            </dict>
            <key>img_hongbao_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,671},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>img_hongbao_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{348,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,4}}</string>
                <key>sourceSize</key>
                <string>{348,4}</string>
            </dict>
            <key>img_hongbao_overdue.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,496},{173,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,96}}</string>
                <key>sourceSize</key>
                <string>{173,96}</string>
            </dict>
            <key>img_hongbao_single.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,572},{64,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,40}}</string>
                <key>sourceSize</key>
                <string>{64,40}</string>
            </dict>
            <key>img_hongbao_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,26},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,28}}</string>
                <key>sourceSize</key>
                <string>{24,28}</string>
            </dict>
            <key>labelText_hongbao_inviteRecord_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,641},{154,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,33}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>labelText_hongbao_inviteRecord_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{154,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,33}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>labelText_hongbao_inviteRules_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,606},{154,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,33}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>labelText_hongbao_inviteRules_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,108},{154,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,33}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>label_hongbao_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{246,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,72}}</string>
                <key>sourceSize</key>
                <string>{246,72}</string>
            </dict>
            <key>label_hongbao_invite_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{246,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,70}}</string>
                <key>sourceSize</key>
                <string>{246,72}</string>
            </dict>
            <key>text_hongbao_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,572},{158,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,32}}</string>
                <key>sourceSize</key>
                <string>{158,32}</string>
            </dict>
            <key>text_hongbao_invite.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,614},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>text_hongbao_receive.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,195},{215,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,79}}</string>
                <key>sourceSize</key>
                <string>{215,79}</string>
            </dict>
            <key>text_hongbao_receive_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{205,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{205,77}}</string>
                <key>sourceSize</key>
                <string>{215,79}</string>
            </dict>
            <key>text_hongbao_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{232,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,99}}</string>
                <key>sourceSize</key>
                <string>{232,99}</string>
            </dict>
            <key>text_hongbao_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,98},{222,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{222,95}}</string>
                <key>sourceSize</key>
                <string>{232,99}</string>
            </dict>
            <key>text_hongbao_to.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,410},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redPacket.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a988e625588a39ebb09b010553c5f3ef:1/1$</string>
            <key>textureFileName</key>
            <string>redPacket.png</string>
        </dict>
    </dict>
</plist>
