<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_roomInfo_rules_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{118,26}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
            <key>btn_roomInfo_rules_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{114,26}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{114,26}}</string>
                <key>sourceSize</key>
                <string>{144,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rules.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7aa3e5190021737cb13b4f549369789d:1/1$</string>
            <key>textureFileName</key>
            <string>rules.png</string>
        </dict>
    </dict>
</plist>
