<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bt_giveFeedback_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{205,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,89}}</string>
                <key>sourceSize</key>
                <string>{205,89}</string>
            </dict>
            <key>bt_giveFeedback_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{195,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{195,85}}</string>
                <key>sourceSize</key>
                <string>{205,89}</string>
            </dict>
            <key>button_change_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,105},{205,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,89}}</string>
                <key>sourceSize</key>
                <string>{205,89}</string>
            </dict>
            <key>button_change_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,196},{195,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{195,85}}</string>
                <key>sourceSize</key>
                <string>{205,89}</string>
            </dict>
            <key>button_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,283},{169,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,86}}</string>
                <key>sourceSize</key>
                <string>{169,86}</string>
            </dict>
            <key>button_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,196},{169,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,86}}</string>
                <key>sourceSize</key>
                <string>{169,86}</string>
            </dict>
            <key>button_setting_download_new_version_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,105}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>button_setting_download_new_version_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{233,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{233,101}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>img_set_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d39ed2fc215a3a4430379f135dac4779:1/1$</string>
            <key>textureFileName</key>
            <string>setting.png</string>
        </dict>
    </dict>
</plist>
