<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_hongbao_weixinShare_shareQRcode.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{174,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,174}}</string>
                <key>sourceSize</key>
                <string>{174,174}</string>
            </dict>
            <key>img_hongbao_weixinShare_headshotExample_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,254},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>img_hongbao_weixinShare_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,74}}</string>
                <key>sourceSize</key>
                <string>{210,74}</string>
            </dict>
            <key>img_hongbao_weixinShare_shareQRcode.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{150,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shareRedPacket.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:050aa4df3e346b13896f62fc9b5c0811:1/1$</string>
            <key>textureFileName</key>
            <string>shareRedPacket.png</string>
        </dict>
    </dict>
</plist>
