<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_share_weekInvitation_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{242,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,9}}</string>
                <key>sourceSize</key>
                <string>{242,9}</string>
            </dict>
            <key>bar_share_weekInvitation_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{240,7}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{240,7}}</string>
                <key>sourceSize</key>
                <string>{242,9}</string>
            </dict>
            <key>bg_share_descriptionText_innerTitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,326},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>bg_share_descriptionText_popUp.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,137},{28,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,134}}</string>
                <key>sourceSize</key>
                <string>{28,134}</string>
            </dict>
            <key>bg_share_invitation_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,434}}</string>
                <key>sourceSize</key>
                <string>{22,434}</string>
            </dict>
            <key>bg_share_invitation_listText.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,81},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>btn_receiveReward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,414},{126,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,50}}</string>
                <key>sourceSize</key>
                <string>{126,50}</string>
            </dict>
            <key>btn_receiveReward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,346},{122,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{122,48}}</string>
                <key>sourceSize</key>
                <string>{126,50}</string>
            </dict>
            <key>btn_receiveReward_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,362},{126,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,50}}</string>
                <key>sourceSize</key>
                <string>{126,50}</string>
            </dict>
            <key>btn_shareGame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,246},{230,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,78}}</string>
                <key>sourceSize</key>
                <string>{230,78}</string>
            </dict>
            <key>btn_shareGame_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{222,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{222,76}}</string>
                <key>sourceSize</key>
                <string>{230,78}</string>
            </dict>
            <key>btn_share_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,137},{110,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,94}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>btn_share_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,326},{106,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{106,90}}</string>
                <key>sourceSize</key>
                <string>{110,94}</string>
            </dict>
            <key>btn_share_activityDescription_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{140,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,196}}</string>
                <key>sourceSize</key>
                <string>{140,196}</string>
            </dict>
            <key>btn_share_activityDescription_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{140,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,196}}</string>
                <key>sourceSize</key>
                <string>{140,196}</string>
            </dict>
            <key>img_share_descriptionText_flag.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,105},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,22}}</string>
                <key>sourceSize</key>
                <string>{16,22}</string>
            </dict>
            <key>img_share_icon_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,81},{206,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,54}}</string>
                <key>sourceSize</key>
                <string>{206,54}</string>
            </dict>
            <key>img_title_nj_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,26},{231,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,53}}</string>
                <key>sourceSize</key>
                <string>{231,53}</string>
            </dict>
            <key>label_share_reward_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{165,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,56}}</string>
                <key>sourceSize</key>
                <string>{165,56}</string>
            </dict>
            <key>label_share_reward_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,249},{165,52}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{165,52}}</string>
                <key>sourceSize</key>
                <string>{165,56}</string>
            </dict>
            <key>title_activity_share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{624,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{624,100}}</string>
                <key>sourceSize</key>
                <string>{624,100}</string>
            </dict>
            <key>title_share_inner_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,303},{152,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,41}}</string>
                <key>sourceSize</key>
                <string>{152,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shareActivity.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:105ebf705b0cced6f298b8f5c13360d7:1/1$</string>
            <key>textureFileName</key>
            <string>shareActivity.png</string>
        </dict>
    </dict>
</plist>
