<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ha_shop_bangding.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{347,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{347,70}}</string>
                <key>sourceSize</key>
                <string>{347,70}</string>
            </dict>
            <key>btn_ha_shop_bangding_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{225,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,105}}</string>
                <key>sourceSize</key>
                <string>{225,105}</string>
            </dict>
            <key>btn_ha_shop_bangding_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{215,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{215,101}}</string>
                <key>sourceSize</key>
                <string>{225,105}</string>
            </dict>
            <key>btn_ha_shop_copy_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{120,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,53}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>btn_ha_shop_copy_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{116,51}}</string>
                <key>sourceSize</key>
                <string>{120,53}</string>
            </dict>
            <key>img_ha_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,105},{133,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,132}}</string>
                <key>sourceSize</key>
                <string>{133,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shopBindProxy.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e55e7c6f1d8aa16105d8d3915f6135d6:1/1$</string>
            <key>textureFileName</key>
            <string>shopBindProxy.png</string>
        </dict>
    </dict>
</plist>
