<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_task_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,282},{419,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{419,23}}</string>
                <key>sourceSize</key>
                <string>{419,23}</string>
            </dict>
            <key>bg_task_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,703},{64,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,23}}</string>
                <key>sourceSize</key>
                <string>{64,23}</string>
            </dict>
            <key>btn_get_onkey_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{243,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,105}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_get_onkey_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{233,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{233,101}}</string>
                <key>sourceSize</key>
                <string>{243,105}</string>
            </dict>
            <key>btn_task_day_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{212,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{214,68}</string>
            </dict>
            <key>btn_task_day_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{196,68}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,68}}</string>
                <key>sourceSize</key>
                <string>{214,68}</string>
            </dict>
            <key>btn_task_do.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{208,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,95}}</string>
                <key>sourceSize</key>
                <string>{208,95}</string>
            </dict>
            <key>btn_task_get_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,806},{181,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,86}}</string>
                <key>sourceSize</key>
                <string>{181,86}</string>
            </dict>
            <key>btn_task_get_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,894},{173,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{173,82}}</string>
                <key>sourceSize</key>
                <string>{181,86}</string>
            </dict>
            <key>btn_task_geted.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{208,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,95}}</string>
                <key>sourceSize</key>
                <string>{208,95}</string>
            </dict>
            <key>btn_task_go_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{208,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,95}}</string>
                <key>sourceSize</key>
                <string>{208,95}</string>
            </dict>
            <key>btn_task_go_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{198,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{198,91}}</string>
                <key>sourceSize</key>
                <string>{208,95}</string>
            </dict>
            <key>btn_task_grow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{212,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{212,68}}</string>
                <key>sourceSize</key>
                <string>{214,68}</string>
            </dict>
            <key>btn_task_grow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{196,68}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,68}}</string>
                <key>sourceSize</key>
                <string>{214,68}</string>
            </dict>
            <key>btn_task_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,247},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>btn_task_help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,212},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>task.png</string>
            <key>size</key>
            <string>{256,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3911076a99ea47505e3de5c5d890b0c:1/1$</string>
            <key>textureFileName</key>
            <string>task.png</string>
        </dict>
    </dict>
</plist>
