<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_turntable_notice_listText.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{448,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,55}}</string>
                <key>sourceSize</key>
                <string>{448,55}</string>
            </dict>
            <key>bg_turntable_reward_timer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{214,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,81}}</string>
                <key>sourceSize</key>
                <string>{214,81}</string>
            </dict>
            <key>bg_turntable_spin_item.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{136,274}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,274}}</string>
                <key>sourceSize</key>
                <string>{136,274}</string>
            </dict>
            <key>btn_turntable_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{260,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,95}}</string>
                <key>sourceSize</key>
                <string>{260,95}</string>
            </dict>
            <key>btn_turntable_record_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{248,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{248,91}}</string>
                <key>sourceSize</key>
                <string>{260,95}</string>
            </dict>
            <key>btn_turntable_record_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,642},{132,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,20}}</string>
                <key>sourceSize</key>
                <string>{132,20}</string>
            </dict>
            <key>btn_turntable_rules_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,776},{59,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,148}}</string>
                <key>sourceSize</key>
                <string>{59,148}</string>
            </dict>
            <key>btn_turntable_rules_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{57,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{57,142}}</string>
                <key>sourceSize</key>
                <string>{59,148}</string>
            </dict>
            <key>btn_turntable_spin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,429},{214,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,214}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>btn_turntable_spin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{214,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,214}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
            <key>button_turntable_rank_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{67,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,148}}</string>
                <key>sourceSize</key>
                <string>{67,148}</string>
            </dict>
            <key>button_turntable_rank_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,776},{65,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{65,142}}</string>
                <key>sourceSize</key>
                <string>{67,148}</string>
            </dict>
            <key>img_turntable_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,247},{83,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,229}}</string>
                <key>sourceSize</key>
                <string>{83,229}</string>
            </dict>
            <key>labelText_turntable_record_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,488},{152,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{152,31}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>labelText_turntable_record_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,543},{152,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{152,31}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>labelText_turntable_rules_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,387},{154,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{154,31}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>labelText_turntable_rules_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,332},{154,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{154,31}}</string>
                <key>sourceSize</key>
                <string>{154,33}</string>
            </dict>
            <key>text_hongbao_share_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,59},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>turntable_item_rank_1st_.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,926},{71,43}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,43}}</string>
                <key>sourceSize</key>
                <string>{77,43}</string>
            </dict>
            <key>turntable_item_rank_2nd_.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,59},{77,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,43}}</string>
                <key>sourceSize</key>
                <string>{77,43}</string>
            </dict>
            <key>turntable_item_rank_3rd_.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,59},{77,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,43}}</string>
                <key>sourceSize</key>
                <string>{77,43}</string>
            </dict>
            <key>turntable_line_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,138},{20,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,2}}</string>
                <key>sourceSize</key>
                <string>{20,2}</string>
            </dict>
            <key>unknown_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,146},{232,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,99}}</string>
                <key>sourceSize</key>
                <string>{232,99}</string>
            </dict>
            <key>unknown_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,332},{222,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{222,95}}</string>
                <key>sourceSize</key>
                <string>{232,99}</string>
            </dict>
            <key>unknown_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,645},{205,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{205,77}}</string>
                <key>sourceSize</key>
                <string>{215,79}</string>
            </dict>
            <key>unknown_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{215,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,79}}</string>
                <key>sourceSize</key>
                <string>{215,79}</string>
            </dict>
            <key>unknown_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{113,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,94}}</string>
                <key>sourceSize</key>
                <string>{113,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>turntable.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aac380982527dbae318d7fd46771a6a1:1/1$</string>
            <key>textureFileName</key>
            <string>turntable.png</string>
        </dict>
    </dict>
</plist>
